<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="{global.baseUrl}" />
    <meta name="description" content="{head.description}" />
    <title>{head.title} | {global.appName}</title>

    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>

    <link rel="stylesheet" type="text/css" href="public/app.css" />
  </head>
  <body class="{body.class}">
    <!-- page wrapper -->
    <div class="wrapper">
      <!-- Header is going here -->
      <div class="header"></div>

      <div class="content">
